Package: HoangDinhPhong.SixLs
Name: Six Ls
Architecture: iphoneos-arm
Description: Tiện ích cho Xen Html.
 - Thiết màn hình khoá giống iOS6
 - Yêu cầu cài Xen HTML để sử dụng
 - Hoạt động trên Màn hình khoá
 - iOS hỗ trợ: 10.0 trở lên
 - Lần đầu phát hành
Maintainer: Hoàng Đình Phong
Author: Hoàng Đình Phong
Section: Widget tĩnh
Version: 1.0.4-1
Depiction: http://hoangdinhphong.github.io/Info/SixLs/?p=info
SileoDepiction: http://hoangdinhphong.github.io/Info/SixLs/?p=info
Icon: file:///Applications/Cydia.app/Sections/w.png
