body{
  position: fixed;
  margin: 0;
  padding: 0;
  font-family: CustomFont;
  text-shadow: 0px 1px 2px rgba(0,0,0, 0.6);
}

@font-face{
  font-family: 'Romantically';
  src: url(../Scripts/../Fonts/Romantically.otf);
}

#Bg{
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  height: 70%;
  background: linear-gradient(#0000, #0005, #000A, #000D);
  z-index: -3;
}

#City{
  position: absolute;
  top: 61%;
  left: 50%;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: var(--cityCl);
  font-family: 'Romantically';
  transform: translateX(-50%) rotate(-3deg);
  z-index: 2;
}

#WeatherIcon{
  position: absolute;
  top: 63.5%;
  right: 26%;
  width: var(--weIconSize);
  transform: translate(50%, -50%);
  z-index: 1;
}

#Info{
  position: absolute;
  top: 70.2%;
  left: 50%;
  width: 70%;
  font-size: 12px;
  text-align: center;
  color: var(--infoCl);
  transform: translateX(-50%);
  z-index: 1;
}

#DayCont{
  position: absolute;
  top: 75.8%;
  left: 50%;
  width: 62%;
  height: 9.5%;
  transform: translateX(-50%);
  z-index: 1;
}

#Day1Cont, #Day2Cont, #Day3Cont{
  position: absolute;
  top: 50%;
  left: 0%;
  width: 16%;
  height: 100%;
  transform: translate(-50%, -50%);
}

#Day2Cont{
  left: 25%;
}

#Day3Cont{
  left: 50%;
}

#Day4Cont, #Day5Cont{
  position: absolute;
  top: 50%;
  right: 25%;
  width: 16%;
  height: 100%;
  transform: translate(50%, -50%);
}

#Day5Cont{
  right: 0%;
}

#Day1Hi, #Day2Hi, #Day3Hi, #Day4Hi, #Day5Hi{
  position: absolute;
  top: 1.5%;
  left: 55%;
  font-size: 13px;
  color: var(--hiCl);
  transform: translateX(-50%);
}

#Day1Icon, #Day2Icon, #Day3Icon, #Day4Icon, #Day5Icon{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#Day1Lo, #Day2Lo, #Day3Lo, #Day4Lo, #Day5Lo{
  position: absolute;
  bottom: 0%;
  left: 55%;
  font-size: 13px;
  color: var(--loCl);
  transform: translateX(-50%);
}

#Battery{
  position: absolute;
  top: 89%;
  left: 50%;
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: var(--batCl);
  transform: translateX(-50%);
  z-index: 1;
}

#Update{
  position: absolute;
  top: 91.5%;
  left: 50%;
  width: 100%;
  font-size: 10px;
  text-align: center;
  color: var(--upCl);
  transform: translateX(-50%);
  z-index: 1;
}