Package: HoangDinhPhong.FutureWeather
Name: Future Weather
Architecture: iphoneos-arm
Description: Tiện ích dành cho Xen Html.
 - Hoạt động trên Màn hình chính & Màn hình khoá
 - Phiên bản 1.1.0: Thêm tuỳ chỉnh kích thước biểu tượng thời tiết hôm nay. Thêm hiệu ứng nền tối. Thêm thông báo đang sạc pin
 - Phiên bản 1.0.8: Sửa lỗi lệch vị trí. Thêm tuỳ chọn ngôn ngữ. Thêm thay đổi màu sắc cho văn bản. Thêm bật tắt các thành phần. Thêm 2 gói biểu tượng thời tiết mới. Thêm dung lượng pin. Thêm nhiệt độ cao thấp cho các ngày sau.
 - Các thiết lập tuỳ chỉnh trong cài đặt của nó
 - Ủng hộ tôi để phát triển mạnh hơn 👌
Maintainer: Hoàng Đình Phong
Author: Hoàng Đình Phong
Section: Widget tĩnh
Version: 1.1.0
Depiction: http://hoangdinhphong.github.io/Info/FutureWeather/?p=info
SileoDepiction: http://hoangdinhphong.github.io/Info/FutureWeather/?p=info
Icon: file:///Applications/Cydia.app/Sections/w.png
