body{
  position: fixed;
  color: #ffffff;
  font-family: CustomFont;
  text-shadow: 0px 1px 1px rgba(0,0,0, 0.8);
}

@font-face{
  font-family: 'Romantically';
  src: url(../Scripts/../Fonts/Romantically.otf);
}
#bg{position: absolute;
Width:100%;
Height:100%;
Background:#555;}
#City{
  position: absolute;
  top: 61%;
  left: 50%;
  width: 100%;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  font-family: 'Romantically';
  text-transform: none;
  transform: translateX(-50%) rotate(-3deg);
  z-index: 2;
}

#WeatherIcon{
  position: absolute;
  top: 57%;
  right: 7%;
  width: 30%;
  z-index: 1;
}

#Info{
  position: absolute;
  top: 72%;
  left: 50%;
  width: 70%;
  font-size: 12px;
  text-align: center;
  transform: translateX(-50%);
  z-index: 1;
}

#DayCont{
  position: absolute;
  top: 77%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  z-index: 1;
}

#Day1Icon, #Day2Icon, #Day3Icon, #Day4Icon{
  position: absolute;
  left: 10%;
  width: 15%;
  -webkit-box-reflect: below -0.3em -webkit-gradient(linear,left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255, 0.5)));
}

#Day2Icon{
  left: 30.25%;
}

#Day3Icon{
  left: 50.5%;
}

#Day4Icon{
  left: 71%;
}

#Update{
  position: absolute;
  top: 90%;
  left: 50%;
  width: 70%;
  font-size: 12px;
  text-align: center;
  transform: translateX(-50%);
  z-index: 1;
}